
<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Portfolio</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">


    <!-- Font -->

    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700%7CAllura" rel="stylesheet">

    <!-- Stylesheets -->

    <link href="~/Show/common-css/bootstrap.css" rel="stylesheet">

    <link href="~/Show/common-css/ionicons.css" rel="stylesheet">

    <link href="~/Show/common-css/fluidbox.min.css" rel="stylesheet">
    <link href="~/Show/03-cv-business/css/styles.css" rel="stylesheet">

    <link href="~/Show/03-cv-business/css/responsive.css" rel="stylesheet">

    <link href="~/Show/01-cv-portfolio/css/styles.css" rel="stylesheet">

    <link href="~/Show/01-cv-portfolio/css/responsive.css" rel="stylesheet">


    @*<script src="~/Show/common-js/jquery-3.2.1.min.js"></script>*@
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>


    <script src="~/Show/common-js/tether.min.js"></script>

    <script src="~/Show/common-js/bootstrap.js"></script>

    <script src="~/Show/common-js/isotope.pkgd.min.js"></script>

    <script src="~/Show/common-js/jquery.waypoints.min.js"></script>

    <script src="~/Show/common-js/progressbar.min.js"></script>

    <script src="common-js/jquery.fluidbox.min.js"></script>

    <script src="common-js/scripts.js"></script>
</head>
<body>
   
    <div>
        @RenderBody()
    </div>
    <footer>
       


        <p style="text-align: center;">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright <span>Ranya </span>&copy;
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>


    </footer>

    <!-- SCIPTS -->



</body>
</html>