@model University
@using PortfolioProject.Data
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section id="about">
    <div class="container" data-aos="fade-up">

        <header class="section-header">
            <br />
            <br />
            <br />
            <br />
            <div class="container">
                <table class="table table-striped ">
                    <thead>
                        <tr>
                            <th>University Name</th>
                            <th>Remove</th>
                            <th>Edit</th>
                            <th>
                                @Html.ActionLink("Create", "UniversityCreate", "University", new { @class = "btn" })
                            </th>

                        </tr>
                    </thead>

                    <tbody>
                        @{
                            foreach (var x in (List<University>)ViewBag.Universities)
                            {
                                <tr>
                                    <td>@x.UniversityName</td>
                                    <td>
                                        @Html.ActionLink("Remove", "RemoveUniversity", "University",
                                       new { Id = x.UniversityId }, new { @style = "background:#18d26e ", @class = "btn text-white " })
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "EditUniversities", "University",
                                       new { UniversityId = x.UniversityId }, new { @style = "background:#18d26e ", @class = "btn text-white " })
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </header>

    </div>
</section>